/* ====================== Переменные ====================== */
$primary-color: #3367df;

/* ====================== Общие стили ====================== */
body {
  color: #000;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: $primary-color;
}