/* ====================== Подключение шрифтов ====================== */
@import 'fonts.scss';

// Переменные
$primary-color: #3367df;
$section-bg: #f7f7f7;
$radius: 3px;

/* ====================== Общие стили ====================== */
body {
  font-family: Muller, sans-serif;
  color: #333;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
}

h3 {
  font-size: 1.625rem;
  font-weight: 700;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.125rem;
}

a {
  color: $primary-color;
}

.btn {
  padding: 1.063rem 2.3rem;
  font-weight: 500;
  border-radius: $radius;

  &-primary {
    background-color: $primary-color;
    border-color: transparent;

    &:hover,
    &:focus {
      background-color: #2957c0;
    }
  }

  &-light {
    background-color: #fff;
    border-color: transparent;

    &:hover,
    &:focus {
      color: #fff;
      background-color: #2957c0;
      border-color: transparent;
    }
  }
}

.form {
  &-group {
    margin-bottom: 5px;
  }

  &-control {
    padding: 1.438rem 1.5rem;
    font-size: .9375rem;
    color: #333;
    border-radius: $radius;

    &:focus {
      background-color: #fff;
      border-color: #6995fc;
      box-shadow: 0 0 30px 10px rgba(38, 84, 190, .05);
    }
  }

  .btn {
    padding-top: 1.375rem;
    padding-bottom: 1.375rem;
  }

  &-check {

    &-input {
      display: none;

      &:checked + .indicator {
        background-color: $primary-color;
        border-color: $primary-color;

        &:hover {
          background-color: $primary-color;
          border-color: $primary-color;
        }

        &::after {
          content: '';
          position: absolute;
          top: 3px;
          left: 2px;
          width: 9px;
          height: 7px;
          background: url(../img/icons/checkbox-icon.svg);
        }
      }
    }

    .indicator {
      position: absolute;
      top: 2px;
      left: 0;
      width: 15px;
      height: 15px;
      background-color: #fff;
      border: 1px solid #ebebeb;
      border-radius: $radius;
      cursor: pointer;

      &:hover {
        background-color: #f4f7fe;
        border-color: $primary-color;
      }
    }

    &-label {
      padding-left: 1.7rem;
      line-height: 1.3;
      font-size: .875rem;

      a {
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

select.form-control:not([size]):not([multiple]) {
  height: calc(4.25rem + 2px);
}

// Стилизация select
.select2-container {
  .select2-selection {
    outline: none;

    &--single {
      height: auto;
      padding: 1.438rem 1.5rem;
      font-size: .9375rem;
      line-height: 1.5;
      border-color: #ced4da;
      border-radius: $radius;
      box-shadow: none;

      .select2-selection {
        
        &__placeholder {
          color: #868e96;
        }

        &__rendered {
          padding: 0;
          line-height: inherit;
        }

        &__arrow {
          top: 50%;
          right: 15px;
          margin-top: -14px;
        }
      }
    }
  }

  &--open, &--focus {
    .select2-selection {
      border-color: #6995fc;
      box-shadow: 0 0 30px 10px rgba(38, 84, 190, .05);
    }
  }

  &--open.select2-container {
    &--below .select2-selection {
      border-bottom-color: transparent!important;
    }

    &--above .select2-selection {
      border-top-color: transparent!important;
    }
  }

  .select2-dropdown {
    border-color: #6995fc;
    box-shadow: 0 10px 30px 10px rgba(38, 84, 190, .05);

    &--above {
      box-shadow: 0 -10px 30px 10px rgba(38, 84, 190, .05);
    }
  }

  .select2-results__option {
    &--highlighted[aria-selected] {
      background-color: #f5f7fd;
      color: #333;
    }
  }

  .select2-results__option {
    padding: 13px 25px;

    &:last-child.select2-results__option {
      &--highlighted, &[aria-selected=true] {
        border-radius: 0 0 3px 3px;
      }
    }
  }
}

.bg-primary {
  background-color: #3367df!important;
}

.modal {
  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  &-body {
    padding: 2rem 4rem;
  }

  &-title {
    text-align: center;
  }

  &-desc {
    font-size: 1.125rem;
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

/* ====================== Header ====================== */
.navbar {
  &-light {
    font-size: .875rem;
    font-weight: 500;

    .navbar-nav {
      .nav-link {
        margin-left: 1.3rem;
        margin-right: 1.3rem;
        padding: 0.08rem 0;
        color: #333;

        &.active,
        &.show,
        &:hover {
          border-bottom: 2px solid $primary-color;
        }

        &:focus,
        &:hover {
          color: #333;
        }
      }

      .active,
      .show {
        & > .nav-link {
          border-bottom: 2px solid $primary-color;
        }
      }
    }
  }

  &-brand {
    margin-right: 2rem;
  }

  &-callback {
    text-align: right;

    .phone {
      display: block;
      font-size: 1.125rem;
    }

    .btn-link {
      padding: 0;
      font-size: 0.875rem;
      text-decoration: underline;
      cursor: pointer;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

/* ====================== Promo ====================== */
.promo {
  padding: 7.5rem 0;
  font-weight: 500;
  color: #fff;
  background: #464549 url(../img/promo-bg.jpg) center no-repeat;
  background-size: cover;

  .container {
    position: relative;
  }

  &-title {
    position: relative;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 3.375rem;
    font-weight: 800;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      display: block;
      width: 7.5rem;
      height: 2px;
      background-color: $primary-color;
    }
  }

  &-desc {
    margin-bottom: 3rem;
    font-size: 1.75rem;
  }

  &-download {
    p {
      margin-bottom: 0.8rem;
      font-size: 1.25rem;
    }
  }

  &-vertical {
    position: absolute;
    right: 15px;
    font-size: 0.875rem;
    writing-mode: vertical-rl;

    &::after {
      content: '';
      position: absolute;
      right: .3rem;
      bottom: -7.5rem;
      width: 6px;
      height: 5.6rem;
      background-color: $primary-color;
    }
  }
}

/* ====================== Services ====================== */
.section {
  padding: 5rem 0;

  &-title {
    position: relative;
    margin-bottom: 1.5rem;
    padding-bottom: 1.6rem;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 6.25rem;
      height: 2px;
      background-color: $primary-color;
    }

    &.text-left {
      &::after {
        left: 0;
        transform: none;
      }
    }
  }

  &-desc {
    font-size: 1.125rem;
    text-align: center;
  }
}

.services {
  &-list {
    margin-top: 1.8rem;
    margin-left: -2px;
    margin-right: -2px;
  }

  &-item {
    position: relative;
    margin: 2px;
    color: #fff;
    border-radius: $radius;
    overflow: hidden;

    &:hover {
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.6);
      transition-duration: 0.3s;
    }
  }

  &-photo {
    width: 100%;
  }

  &-title {
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
    z-index: 10;
    margin-bottom: 0;
  }

  &-application {
    padding: 2rem 0;
    color: #fff;
    background-color: $primary-color;
    border-radius: 4px;
  }

  &-application-title {
    margin-bottom: 0;
  }

  &-application-subtitle {
    margin-bottom: 0;
    font-size: 1.375rem;
    font-weight: 500;
  }
}

/* ====================== Features ====================== */
.features {
  padding-bottom: 20rem;
  background-color: $section-bg;

  &-list {
    margin-top: 3rem;

    > [class^="col-"] {
      margin-bottom: 2rem;
    }
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 0 auto 1.5rem;
    background-color: $primary-color;
    border-radius: $radius;

    &:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
      transition-duration: 0.3s;
    }
  }

  &-title {
    padding: 0 4rem;
    text-align: center;
  }

  &-desc {
    padding: 0 2rem;
    font-size: .9375rem;
    text-align: center;
  }
}

.slogan {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  color: $primary-color;
}

/* ====================== About ====================== */
.about {
  margin-top: -20rem;

  &-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #fff;
    box-shadow: 0 40px 70px 10px rgba(33, 37, 42, .04);
  }
}

.info {
  margin-top: 3rem;

  &-item {
    margin-bottom: 3rem;

    &:nth-child(even) {
      .info-photo {
        order: 2;
        text-align: right;
      }
    }
  }

  &-photo img {
    max-width: 100%;
    height: auto;
  }

  &-title {
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 3rem;
      height: 2px;
      background-color: $primary-color;
    }
  }
}

/* ====================== Audit ====================== */
.audit {
  position: relative;

  &-left {
    position: static;

    img {
      position: absolute;
      left: 0;
      top: 0;
      max-width: 47%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-right {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &-text {
    font-size: 1.125rem;
  }
}

/* ====================== Certificates ====================== */
.modal-img {
  position: relative;
  display: block;
  height: 100%;
  border: .6rem solid #343434;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }


  &:hover {
    &::after {
      background-color: rgba(51, 103, 223, .7);
      background-image: url(../img/icons/img-zoom.svg);
      transition-duration: .3s;
    }
  }

  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#imagemodal {
  text-align: center;

  .modal-dialog {
    display: inline-block;
    max-width: 90%;
  }

  .modal-content {
    background: none;
    border: none;
  }

  .close {
    position: static;
    text-align: right;
    color: #fff;
    opacity: 1;
    text-shadow: none;
    cursor: pointer;
  }
}

/* ====================== Facts ====================== */
.facts {
  
  &-list {
    margin-top: 6rem;
    background-color: $section-bg;
  }

  &-item {
    margin-top: -3rem;
    padding-bottom: 2rem;
    text-align: center;
  }

  &-value {
    font-size: 6.25rem;
    font-weight: 900;
    line-height: 1;
    color: $primary-color;
  }

  &-title {
    padding: 0 2rem;
    font-weight: 400;
  }
}

/* ====================== Clients ====================== */
.clients {
  
  ul {
    padding-left: 20px;
    font-size: 1.7rem;

    li {
      color: $primary-color;
      
      span {
        font-size: 1.125rem;
        color: #333;
      }
    }
  }

  &-list {

    > [class^="col"] {
      margin-bottom: 2.2rem;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

/* ====================== Scheme ====================== */
.scheme {
  background-color: $section-bg;
}

.step {
  &-list {
    margin-top: 3rem;
  }

  &-item {
    position: relative;
    text-align: center;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 40px;
      right: -60px;
      width: 120px;
      height: 16px;
      background-image: url(../img/arrow.png);
    }

    &:nth-child(even)::after {
      top: 10px;
      transform: scaleY(-1);
    }
  }

  &-title {
    padding: 0 2rem;
    font-size: .9375rem;
  }
}

/* ====================== Contacts ====================== */
.contacts {
  position: relative;

  &-left {
    position: static;

    img {
      position: absolute;
      left: 0;
      top: 0;
      max-width: 47%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-right {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  address {
    strong {
      font-size: 1.375rem;
      font-weight: 500;
    }
  }

  &-question {
    &-title {
      font-size: 2rem;
      color: $primary-color;
    }

    &-subtitle {
      display: block;
      margin-bottom: 1rem;
      font-size: 1.375rem;
      font-weight: 500;
    }
  }
}

/* ====================== Footer ====================== */
.main-footer {
  padding: 1rem 0;
  font-size: .875rem;
  color: #bbb;
  background-color: #1f232e;
}

.copyright {
  text-align: center;
}

.webstudio {
  text-align: right;

  a {
    text-decoration: underline;
  }
}